@font-face {
	font-family: "altone";
	src: url('res/AltoneTrial-Regular.ttf');
}

td{
	font-family: "altone";
}

h1{
	font-family: "altone";
	font-weight: bold;
	margin: 5% 0 5% 0;
	text-decoration: underline;
}
a{
	color: white;
}
img{
	border-radius: 10px;
}
.lignesEspacees{
	border-collapse : separate;
	border-spacing : 30px;
}
video{
	border-radius: 10px;
}
.bg{
	background-color: #304c4c;
}
.bg1{
	background-color: #78877f;
}
.bg2{
	background-color:#5e6c61;
}
nav, h2, ul, ul li{ display: inline;}
nav > h2{ font-size: 1em; } 
ul { padding-left: 0em; }
